DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
DATABASE_URL=
JWT_SIGNING_KEY=
JWT_ACCESS_TOKEN_LIFETIME_MIN=
JWT_REFRESH_TOKEN_LIFETIME_DAYS=
BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_CHAIN_ID=
CONTRACT_ADDRESS=
PLATFORM_ADMIN_PRIVATE_KEY=
WALLET_ENCRYPTION_KEY=
IPFS_API_URL=
IPFS_PROJECT_ID=
IPFS_PROJECT_SECRET=
CORS_ALLOWED_ORIGINS=
